<section class="py-5">
    <h1 class="text-center">Blog Post Detailes</h1>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-9 mb-4">
                <div class="view overlay rounded z-depth-1-half mb-4" style="max-height: 450px;">
                    <img src="{{seletedItems.image}}" class="img-fluid"  alt="">
                    <a>
                        <div class="mask rgba-white-slight waves-effect waves-light" mdbWavesEffect></div>
                    </a>
                </div>
                <div class="post-data d-flex justy-content-between my-4">
                    <a href rel="nofllow" class="black-text">
                        <strong class="ml-1">{{seletedItems.title}}</strong>
                    </a>
                </div>
                <hr>
                <div class="text-justify">
                    <p>{{seletedItems.description}}</p>
                    <blockquote class="blackquote my-5">
                        <p class="py-1 mb-0">
                            <em>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                 Assumenda odit architecto culpa?</em>
                        </p>
                    </blockquote>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                        Nulla et arcu pharetra, rutrum nulla sit amet, volutpat metus.&nbsp;
                        <em>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Assumenda odit architecto culpa?</em>
                    </p>
                        <img src="https://source.unsplash.com/1600x900/?fashion,women" class="img-fluid rounded z-depth-1 mb-3" alt="">
                        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste porro cum modi esse ipsa non 
                            voluptas nostrum unde ea ipsum fugiat eligendi,
                             magnam dolorum ratione ex nobis voluptates facere atque!</p>
                             <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu vulputate elit.
                                Quisque a eleifend velit. Nullam pellentesque ligula aliquam, tempus eros vitae, hendrerit tellus.
                                Praesent volutpat rutrum tortor. Quisque sit amet justo semper, porta metus id, ultrices ante. Nulla
                                sem sem, bibendum eu magna ac, ornare ultricies mi. Class aptent taciti sociosqu ad litora torquent
                                per conubia nostra, per inceptos himenaeos. Sed eget mollis est, in tincidunt nisl. Fusce bibendum
                                nisl at congue tempus. Nam vel volutpat nibh. Vestibulum ante ipsum primis in faucibus orci luctus et
                                ultrices posuere cubilia Curae; Nulla et arcu pharetra, rutrum nulla sit amet, volutpat metus. Nunc
                                sem arcu, varius laoreet vestibulum sed, mollis eget orci.
                             </p>
                </div>
                <section>
                    <hr>
                    <span class="font-weight-bold mr-2">Spreed the word:</span>
                    <a class="btn btn-sm btn-outline-primary mr-1 waves-effect waves-light" mdbWavesEffect>
                        <i class="fab fa-facebook-f left"></i>Facebook
                    </a>
                    <a class="btn btn-sm btn-outline-info mr-1 waves-effect waves-light" mdbWavesEffect>
                        <i class="fab fa-twitter left"></i>Twitter
                    </a>
                    <a class="btn btn-sm btn-outline-danger  mr-1 waves-effect waves-light" mdbWavesEffect>
                        <i class="fab fa-linkedin left"></i>Twitter
                    </a>
                    <hr>
                </section>
                <section class="mt-5">
                    <p class="text-center mb-1">
                        <strong>About author</strong>
                    </p>
                    <div class="media mt-4 px-1">
                        <img class="card-img-100 rounded d-flex z-depth-1 mr-3" src="{{seletedItems.image}}" alt="">
                        <div class="media-body">
                            <div class="d-block">
                                <h6>
                                    <a class="text-reset" href="#!">Carmen Martinez</a>
                                </h6>
                                <div class="my-2">
                                    <a href="" class="text-reset mr-1" role="button">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="" class="text-reset mr-1" role="button">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="" class="text-reset mr-1" role="button">
                                        <i class="fab fa-linkedin left"></i>
                                    </a>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis molestiae
                                delectus
                                nulla porro voluptatem fugiat quod amet aspernatur iusto! Minus debitis quos molestias voluptatibus et
                                vero
                                corrupti cupiditate odit dolores.</p>
                        </div>
                    </div>
                </section>
                <hr class="my-5">
                <section class="text-center text-lg-left mb-4">
                    <p class="mb-1 text-center">2 Comments</p>
                    <div class="media d-block d-md-flex mt-3">
                        <img src="https://images.unsplash.com/photo-1527058054345-f870ffe763eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80" class="card-img-64 rounded z-depth-1 d-flex mx-auto mb-3" alt="">
                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h6></h6>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis molestiae
                                delectus
                                nulla porro voluptatem fugiat quod amet aspernatur iusto! Minus debitis quos molestias voluptatibus et
                                vero
                                corrupti cupiditate odit dolores.</p>
                        </div>
                    </div>
                    <div class="media d-block d-md-flex mt-3">
                        <img src="https://images.unsplash.com/photo-1580647336415-f6e422ad2b83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="card-img-64 rounded z-depth-1 d-flex mx-auto mb-3" alt="">
                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h6></h6>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis molestiae
                                delectus
                                nulla porro voluptatem fugiat quod amet aspernatur iusto! Minus debitis quos molestias voluptatibus et
                                vero
                                corrupti cupiditate odit dolores.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="mb-5">
                        <p class="mb-1 text-center">Leave us a comment</p>
                        <div class="md-form md-outline">
                            <textarea id="form76" class="md-textarea form-control" cols="1" rows="4" mdbInput></textarea>
                            <label for="form76">Messages</label>
                        </div>
                        <div class="md-form md-outline">
                            <input type="text" id="form76" class="form-control" mdbInput>
                            <label for="form76">Name</label>
                        </div>
                        <div class="md-form md-outline">
                            <input type="email" id="form76" class="form-control" mdbInput>
                            <label for="form76">Email</label>
                        </div>
                        <div class="md-form md-outline">
                            <input type="text" id="form76" class="form-control" mdbInput>
                            <label for="form76">Website</label>
                        </div>
                        <div class="text-center text-md-left">
                            <button type="button" class="btn btn-primary btn-md waves-effect waves-light" mdbWavesEffect>Submit</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <div class="mb-4">
                    <div class="view zoom  z-depth-2-half rounded">
                        <img src="	https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(14).jpg" class="img-fluid" alt="">
                        <a >
                            <div class="mask rgba-black-light waves-light waves-effect">
                                <div class="d-flex align-items-end h-100 p-3">
                                    <h5 class="mb-0 text-white">Hover Me</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="view zoom z-depth-2-half">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(15).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask rgba-black-light waves-light waves-effect">
                                <div class="d-flex align-items-end h-100 p-3">
                                    <h5 class="mb-0 text-white">Hover Me</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="view zoom z-depth-2-half">
                        <img src="	https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(19).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask rgba-black-light waves-light waves-effect">
                                <div class="d-flex align-items-end h-100 p-3">
                                    <h5 class="mb-0 text-white">Hover Me</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="view zoom z-depth-2-half">
                        <img src="	https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(16).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask rgba-black-light waves-light waves-effect">
                                <div class="d-flex align-items-end h-100 p-3">
                                    <h5 class="mb-0 text-white">Hover Me</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>