<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [interval]="'0'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1516641025997-deb645062c15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
        <p class="s"><small>Winter Fasion</small></p>
        <h3 class="h3-responsive">Fashion</h3>
            <h6> Collection 2019</h6>
        <button  mdbBtn class="btn1 " color="primary" mdbWavesEffect>Shop now</button>
    </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1612279765534-d11381818b28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Third slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption white-text">
          <p class="s"><small> Summer Fasion</small></p>
          <h3 class="h3-responsive">Fashion</h3>
              <h6> Collection 2021</h6>
          <button  mdbBtn class="btn1" color="primary" mdbWavesEffect>Shop now</button>
      </div>
      </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1566955226995-b69f30890b88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption white-text">
        <p class="s"><small> Mirror Fasion</small></p>
        <h3 class="h3-responsive">Fashion</h3>
            <h6> Collection 2021</h6>
        <button  mdbBtn class="btn1" color="primary" mdbWavesEffect>Shop now</button>
    </div>
    </mdb-carousel-item>
  </mdb-carousel>


  <section class="category py-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-4">
                <mdb-card>
                    <div class="view overlay">
                        <mdb-card-img
                        src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                        class="img-fluid hoverable"></mdb-card-img>
                        <div class="mask flex-center rgba-black-light">
                            <button mdbBtn color="white" class="waves-light popup" mdbWavesEffect >Men's</button>
                        </div>
                        </div>
                </mdb-card>
                    </div>

            <div class="col-lg-4">
                <mdb-card>
                    <div class="view overlay">
                    <mdb-card-img
                        src="https://images.unsplash.com/photo-1483181957632-8bda974cbc91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                        class="img-fluid hoverable"></mdb-card-img>
                        <div class="mask flex-center rgba-black-light">
                            <button mdbBtn color="white" class="waves-light popup" mdbWavesEffect>Women's</button>
                        </div>
                        </div>
                </mdb-card>
            </div>
            <div class="col-lg-4">
                <mdb-card>
                    <div class="view overlay">
                    <mdb-card-img
                        src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                        class="img-fluid hoverable"></mdb-card-img>
                        <div class="mask flex-center rgba-white-light">
                            <button mdbBtn color="white" class="waves-light  popup" mdbWavesEffect>Kid's</button>
                        </div>
                        </div>
                </mdb-card>
            </div>
        </div>
    </div>
</section>
<!-- products -->

<section class="products py-5 py-5 pb-3 text-center">
    <h2 class="h2 py-5 font-weight-bold text-uppercase animated fadeInUp">Our Bestseller</h2>
    <p class="grey-text mb-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit
         Natus nobis repudiandae recusandae <br> placeat quod nisi?
    </p>
    
    <div class="container">
        <div class="row">
            <!-- sec1 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <mdb-card class="align-items-center">
                    <div class="view overlay waves-light"mdbWavesEffect>
                        <mdb-card-img src="https://images.unsplash.com/photo-1625470322180-8ac2be10145d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"  class="img-fluid"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <mdb-card-body class="text-center">
                        <h4><strong class="text-light">Shirt</strong></h4>
                        <h5><strong><a href="#!" class="dark-grey-text">
                            Denim Shirt
                            <span class="badge badge-danger">New</span>
                        </a></strong></h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>$120</strong>
                        </h4>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <mdb-card class="align-items-center">
                    <div class="view overlay waves-light"mdbWavesEffect>
                        <mdb-card-img src="https://images.unsplash.com/photo-1551232864-3f0890e580d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"  class="img-fluid"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <mdb-card-body class="text-center">
                        <h4><strong class="text-light">Shirt</strong></h4>
                        <h5><strong><a href="#!" class="dark-grey-text">
                            Denim Shirt
                            <span class="badge badge-danger">New</span>
                        </a></strong></h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>$120</strong>
                        </h4>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <mdb-card class="align-items-center">
                    <div class="view overlay waves-light"mdbWavesEffect>
                        <mdb-card-img src="https://images.unsplash.com/photo-1608330863060-a646c7f7b5a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"  class="img-fluid"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <mdb-card-body class="text-center">
                        <h4><strong class="text-light">Shirt</strong></h4>
                        <h5><strong><a href="#!" class="dark-grey-text">
                            Denim Shirt
                            <span class="badge badge-danger">New</span>
                        </a></strong></h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>$120</strong>
                        </h4>
                    </mdb-card-body>
                </mdb-card>
            </div>


            <div class="col-lg-3 col-md-6 mb-4">
                <mdb-card class="align-items-center">
                    <div class="view overlay waves-light"mdbWavesEffect>
                        <mdb-card-img src="https://images.unsplash.com/photo-1625410578310-922dcf9bdcbc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"  class="img-fluid"></mdb-card-img>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <mdb-card-body class="text-center">
                        <h4><strong class="text-light">Shirt</strong></h4>
                        <h5><strong><a href="#!" class="dark-grey-text">
                            Denim Shirt
                            <span class="badge badge-danger">New</span>
                        </a></strong></h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>$120</strong>
                        </h4>
                    </mdb-card-body>
                </mdb-card>
            </div>
            
    <!-- sec2 -->
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <div class="view overlay waves-light"mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1625408482570-a84c3d81a183?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" height="300px"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>
    
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <div class="view overlay waves-light"mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1625390121632-5c3b48bcc6cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" height="300px"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <div class="view overlay waves-light"mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1625153570479-b928ef082949?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=344&q=80"  class="img-fluid"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <img height="300px" src="https://images.unsplash.com/photo-1625226024211-302e12a568b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"  class="img-fluid" alt="">
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>





    <!-- sec3 -->
    
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <div class="view overlay waves-light"mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1506152450634-209d83087969?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80"  class="img-fluid"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>
    
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <div class="view overlay waves-light"mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1524386189627-88c26ac1cc69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80"  class="img-fluid"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <div class="view overlay waves-light"mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1625319784684-65344982a765?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"  class="img-fluid"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <mdb-card class="align-items-center">
            <div class="view overlay waves-light"mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1509087859087-a384654eca4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"  class="img-fluid"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <mdb-card-body class="text-center">
                <h4><strong class="text-light">Shirt</strong></h4>
                <h5><strong><a href="#!" class="dark-grey-text">
                    Denim Shirt
                    <span class="badge badge-danger">New</span>
                </a></strong></h5>
                <h4 class="font-weight-bold blue-text">
                    <strong>$120</strong>
                </h4>
            </mdb-card-body>
        </mdb-card>
    </div>
    
    
    
    
    </div>
    
    <div class="py-5 text-center">
    <button mdbBtn gradient="purple" routerLink="shop" class="waves light" mdbWavesEffect>View More</button>
    </div>
    </div>
    </section>
    


    <section class="parallex py-5">
        <div class="container py-5 text-center">
            <div class="col-lg-9 mx-auto mt-2">
                <h1>All The Products look</h1>
                <p class="py-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit mollitia blanditiis perspiciatis,
                    ipsam non, dolores obcaecati fuga nihil molestiae neque officiis?  
                </p>
                <button class="btn7 mr-1">SHOP NOW</button>
                <button class="btn6 mr-1">Get Deals</button>
            </div>
        </div>
    </section>



<!-- groups -->
<section class="py-5 groups">
    <h1 class="text-center">Colorlib_Collection</h1>
    <div class="container-fluid py-5">
      <div class="card-group col-12">
        <mdb-card>
            <div class="view overlay waves-black" mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1560889041-1814025efae4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" class="img-fluid"></mdb-card-img>
                <a>
                    <div class="mask flex-center rgba-white-slight">
                        <a href="#!" mdbTooltip="Colorlib_Collection" placement="bottom">
                            <mdb-icon  fab icon="instagram"></mdb-icon>
                        </a>
                        
                    </div>
                </a>
            </div>
        </mdb-card>
        <mdb-card>
            <div class="view overlay waves-black" mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1556135064-c8e3be115265?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" class="img-fluid"></mdb-card-img>
                <a>
                    <div class="mask flex-center rgba-black-light">
                        <a href="#!" mdbTooltip="Colorlib_Collection" placement="bottom">
                            <mdb-icon fab icon="instagram"></mdb-icon>
                        </a>
                        
                    </div>
                </a>
            </div>
        </mdb-card>
        <mdb-card>
            <div class="view overlay waves-black" mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1617922001439-4a2e6562f328?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"></mdb-card-img>
                <a>
                    <div class="mask flex-center rgba-black-light">
                        <a href="#!" mdbTooltip="Colorlib_Collection" placement="bottom">
                            <mdb-icon fab icon="instagram"></mdb-icon>
                        </a>
                        
                    </div>
                </a>
            </div>
        </mdb-card>
        <mdb-card>
            <div class="view overlay waves-black" mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1619102814948-e164e584cf0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"></mdb-card-img>
                <a>
                    <div class="mask flex-center rgba-white-slight">
                        <a href="#!" mdbTooltip="Colorlib_Collection" placement="bottom">
                            <mdb-icon fab icon="instagram"></mdb-icon>
                        </a>
                        
                    </div>
                </a>
            </div>
        </mdb-card>
        <mdb-card>
            <div class="view overlay waves-black" mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1617922304319-48eba6011532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"></mdb-card-img>
                <a>
                    <div class="mask flex-center rgba-black-light">
                        <a href="#!" mdbTooltip="Colorlib_Collection" placement="bottom">
                            <mdb-icon fab icon="instagram"></mdb-icon>
                        </a>
                        
                    </div>
                </a>
            </div>
        </mdb-card>
  
        <mdb-card>
            <div class="view overlay waves-black" mdbWavesEffect>
                <mdb-card-img src="https://images.unsplash.com/photo-1519634848-ee94122c286c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"></mdb-card-img>
                <a>
                    <div class="mask flex-center rgba-white-light">
                        <a href="#!" mdbTooltip="Colorlib_Collection" placement="bottom">
                            <mdb-icon fab icon="instagram"></mdb-icon>
                        </a>
                    </div>
                </a>
            </div>
        </mdb-card>
      </div>
    </div>
</section>
<!-- blog -->


<section class="py-5 blog" >
    <h1 class="text-center">From <span class="width">The</span> Blog</h1>
    <div class="container py-5">
<div class="row">
    <div class="col-lg-4">
        <div class="view zoom waves-light z-depth-2" mdbWavesEffect>
            <img src="https://images.unsplash.com/photo-1520333789090-1afc82db536a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80" class="img-fluid" alt="">
        </div>
        <div class="card-body">
            <a ><i class="fa fa-gift orange-text mr-2" aria-hidden="true"></i> May 4,2019 <span><i class="fa fa-comment ml-5 orange-text" aria-hidden="true"></i> 5</span> </a>
            <h4 class="h3-responsive mt-2">The Best Street Style From Fashion Week</h4>
            <p class="h6-responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos molestias consequuntur</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="view zoom waves-light z-depth-2" mdbWavesEffect>
            <img src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="img-fluid " alt="">
        </div>
        <div class="card-body">
            <a ><i class="fa fa-gift orange-text mr-2" aria-hidden="true"></i> May 12,2019 <span><i class="fa fa-comment ml-5 orange-text" aria-hidden="true"></i> 5</span> </a>
            <h4 class="h3-responsive mt-2">vouge Ultimate Guide To Shoes 2019</h4>
            <p class="h6-responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos molestias consequuntur</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="view zoom waves-light z-depth-2" mdbWavesEffect>
            <img src="https://images.unsplash.com/photo-1520315397185-1ed215491386?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="img-fluid " alt="">
        </div>
        <div class="card-body">
            <a ><i class="fa fa-gift orange-text mr-2" aria-hidden="true"></i> June 2,2019 <span><i class="fa fa-comment ml-5 orange-text" aria-hidden="true"></i> 5</span> </a>
            <h4 class="h3-responsive mt-2">How to Brighten  With A Dash of Lime</h4>
            <p class="h6-responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos molestias consequuntur</p>
        </div>
    </div>
</div>
    </div>
</section>

<!-- shiping to foter -->


<section class="py-5 shipping">
    <div class="container py-5">
        <div class="row mx-auto" style="border:1px solid lightgray">
                <div class="col-lg-4 my-3">
                    <div class="row">
                        <div class="col-lg-2 mt-2">
                            <mdb-icon fas icon="truck-moving orange-text"></mdb-icon>
                        </div>
                        <div class="col-lg-8 ml-3">
                            <h5 class="text-uppercase">free shipping</h5>
                            <p>For all order over 99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-3">
                    <div class="row">
                        <div class="col-lg-2 mt-2">
                            <mdb-icon far icon="clock orange-text"></mdb-icon>
                        </div>
                        <div class="col-lg-8 ml-3">
                            <h5 class="text-uppercase">delivery on time</h5>
                            <p>If good have problems</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-3">
                    <div class="row">
                        <div class="col-lg-2 mt-2">
                            <mdb-icon fas icon="truck-moving orange-text"></mdb-icon>
                        </div>
                        <div class="col-lg-8 ml-3">
                            <h5 class="text-uppercase">secure payment</h5>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="brands mt-4 shadow">
<div class="container">
    
        <div class="row ml-auto d-flex mt-3">
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fab fa-battle-net"></i>
                    </div>
                    <div class="col-lg-8 ml-4">
                        <p>banToni</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fab fa-vuejs"></i>
                    </div>
                    <div class="col-lg-8 ml-4">
                        <p>VCorp</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fab fa-acquisitions-incorporated"></i>
                    </div>
                    <div class="col-lg-8 ml-4">
                        <p>Alitume</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fab fa-gitkraken"></i>
                    </div>
                    <div class="col-lg-8 ml-4">
                        <p>zukata</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fab fa-linode"></i>
                    </div>
                    <div class="col-lg-8 ml-4">
                        <p>vicinck</p>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>











